<div class="forgot-wrapper">

  <div class="container d-flex justify-content-center align-items-center">

    <div class="forgot-card">

      <h3 class="text-center mb-4">Forgot Password 🔑</h3>

      <!-- STEP 1 -->
      <div *ngIf="step === 1">
        <input type="email"
               class="form-control forgot-input mb-3"
               placeholder="Enter Email"
               [(ngModel)]="email">

        <button class="btn forgot-btn w-100" (click)="sendOtp()">
          Send OTP
        </button>
      </div>

      <!-- STEP 2 -->
      <div *ngIf="step === 2">
        <input type="text"
               class="form-control forgot-input mb-3"
               placeholder="Enter OTP"
               [(ngModel)]="otp">

        <button class="btn forgot-btn w-100" (click)="verifyOtp()">
          Verify OTP
        </button>
      </div>

      <!-- STEP 3 -->
      <div *ngIf="step === 3">
        <input type="password"
               class="form-control forgot-input mb-3"
               placeholder="New Password"
               [(ngModel)]="newPassword">

        <button class="btn forgot-btn w-100" (click)="resetPassword()">
          Reset Password
        </button>
      </div>

    </div>

  </div>

</div>